{% extends "InventoryManager/base_inventory.html" %}

{% block title %} Purchase {% endblock %}

<!-- breadcrumbs to the page -->
{% block bread_crumbs %}
<div class="grid-x grid-padding-x">
    <div class="cell shrink">
        <nav aria-label="You are here:" role="navigation" id="custom-breadcrumb-design">
            <ul class="breadcrumbs" id="custom-breadcrumb-style">
                <li><a href="/pharmacy">Pharmacy</a></li>
                <li><a href="/pharmacy/purchase">Purchase</a></li>
            </ul>
        </nav>
    </div>
</div>
{% endblock %}

{%block content_main%}
    <div class="grid-x">
        <div class="cell large-offset-1 auto">
            <ul class="tabs" data-tabs id="purchase_tabs">
                <li class="tabs-title is-active"><a href="#purchase_insertions" aria-selected="true">Purchase Entry</a></li>
                <li class="tabs-title"><a href="#add_medical_rep">Add Medical Rep Info</a></li>
                <li class="tabs-title"><a href="#add_company_data">Add Company Info</a></li>
            </ul>

            {% include "InventoryManager/includes/add_purchase.html" %}
        </div>
    </div>
{% endblock %}